@model VirtualCredit.Models.UserInfoModel
@{
    ViewData["Title"] = "登录";
}

<script type="text/javascript">
    $(ResetPwd);
</script>

<noscript style="font-size:30px;color:coral;margin-bottom:10px">您的浏览器不支持或已禁用JavaScript, 为了您的账号安全请使用支持JavaScript的浏览器，否则可能无法登录，给您造成的不便请谅解。</noscript>
<h4>账号登录</h4>
<hr />
<div>
    @using (Html.BeginForm(FormMethod.Post, new { @class = "registerForm"}))
    {
        <div>
            @Html.ValidationSummary()

            <p>用户名：</p>@Html.TextBoxFor(user => user.UserName, new { @class = "form-control", onblur = "ValidateFields_LoginView()", id = "UserName", placeholder = "请输入用户名...", autocomplete = "on" })
            <p></p>
            <p>密码：</p>@Html.TextBoxFor(user => user.userPassword, new { @class = "form-control pwdBox", onblur = "ValidateFields_LoginView()", id = "pwdBox", type = "password", placeholder = "请输入密码...", autocomplete = "off" })

            <p></p>
            <p>验证码：</p>
            <img id="validationImg" src="@ViewBag.ValidationStr" alt="验证码" />
            <input placeholder="请输入计算结果" class="" onblur="async_Validate(ValidateFields_LoginView)" id="validationResult" name="validationResult" type="text" />
            <img id="img_loading_validationcode" class="img_loading" src="~/Images/loading.gif" />
            <span id="validationMsg" style="visibility:hidden;color:red"></span>
            @if (ViewBag.LoginResult != null)
            {
                <p class="warningMessage">@ViewBag.LoginResult</p>
            }
            <div style="width:60%;max-width:300px;">
                <input class="btn btn-lg btn-info btn-block" id="btnSubmit" type="submit" disabled onclick="LoginValidate()" value="登 录" />
            </div>
        </div>
    }
</div>

