
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Insurance.Models.DetailModel
<h1>@Model.Company 历史保单信息</h1>
<table class="table table-bordered">
    @{
        if (Model.MonthlyExcel != null && Model.MonthlyExcel.Count > 0)
        {
            <thead>
                <tr style="text-align:center">
                    <th scope="col">序号</th>
                    <th scope="col">开始时间</th>
                    <th scope="col">结束时间</th>
                    <th scope="col">保单人次</th>
                    <th scope="col">保费</th>
                    <th scope="col" colspan="3">操作</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model.MonthlyExcel)
                    {
                        if (item != null)
                        {
                            <tr style="text-align:center">
                                <td>@(Model.MonthlyExcel.IndexOf(item) + 1)</td>
                                <td>@item.StartDate</td>
                                <td>@item.EndDate</td>
                                <td>@item.HeadCount</td>
                                <td>@Math.Round(item.Cost, 2)</td>
                                <td><a href="/Home/CompanyHistory?date=@item.StartDate&name=@item.Company">操作历史</a></td>
                                <td><a href="/Home/GenerateInsuranceRecipet?company=@item.Company&date=@item.StartDate">保险凭证</a></td> @*目前在职*@
                                <td><a href="/Home/ExportStaffsByMonth?company=@item.Company&date=@item.StartDate">人员导出</a></td>  @*当月所有，包括离职*@
                            </tr>
                        }

                    }
                }
            </tbody>
        }
        else if (Model.Excels != null && Model.Excels.Count > 0)
        {
            <thead>
                <tr>
                    <th scope="col">序号</th>
                    <th scope="col">操作时间</th>
                    <th scope="col">开始时间</th>
                    <th scope="col">结束时间</th>
                    <th scope="col">保单人数</th>
                    <th scope="col">操作</th>
                    <th scope="col">保费</th>
                    <th scope="col">下载</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model.Excels)
                    {
                        string month = string.IsNullOrWhiteSpace(item.StartDate) ? item.EndDate : item.StartDate;
                        <tr>
                            <td>@(Model.Excels.IndexOf(item) + 1)</td>
                            <td>@item.UploadDate</td>
                            <td>@item.StartDate</td>
                            <td>@item.EndDate</td>
                            <td>@item.HeadCount</td>
                            <td>@item.Mode</td>
                            <td>@Math.Round(item.Cost, 2)</td>
                            <td><a href="/Home/DownloadExcel?company=@item.Company&fileName=@item.FileName&date=@month">下载</a></td>
                        </tr>
                    }
                }
            </tbody>
        }
    }
</table>

<script>
    $("a.active").removeClass('active');
    $("#page_2").addClass('active');
</script>
