
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Insurance.Models.DetailModel
<h1>@Model.Company 历史保单信息</h1>
<table class="table table-bordered" >
    @{
        if (Model.MonthlyExcel != null && Model.MonthlyExcel.Count > 0)
        {
            <thead>
                <tr style="text-align:center">
                    <th scope="col">序号</th>
                    <th scope="col">开始时间</th>
                    <th scope="col">结束时间</th>
                    <th scope="col">保单人次</th>
                    <th scope="col">保费</th>
                    <th scope="col" colspan="3">操作</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model.MonthlyExcel)
                    {
                        if (item != null)
                        {
                            <tr style="text-align: center">
                                <td>@(Model.MonthlyExcel.IndexOf(item) + 1)</td>
                                <td>@item.StartDate</td>
                                <td>@item.EndDate</td>
                                <td>@item.HeadCount</td>
                                <td>@Math.Round(item.Cost, 2)</td>

                                <td><a href="/Home/CompanyHistory?date=@item.StartDate&name=@item.Company">操作历史</a></td>
                                <td><a href="/Home/GenerateInsuranceRecipet?company=@item.Company&date=@item.StartDate">保险凭证</a></td> @*目前在职*@
                                <td><a href="/Home/ExportStaffsByMonth?company=@item.Company&date=@item.StartDate">人员导出</a></td>  @*当月所有，包括离职*@
                            </tr>
                        }

                    }
                }
                <tr style="text-align: center">
                    <td>合计</td>
                    <td>-</td>
                    <td>-</td>
                    <td>@Model.MonthlyExcel.Sum(_ => _.HeadCount)</td>
                    <td>@Math.Round(@Model.MonthlyExcel.Sum(_ => _.Cost), 2)</td>
                    <td colspan="3">-</td>
                </tr>
            </tbody>
        }
        else if (Model.Excels != null && Model.Excels.Count > 0)
        {
            <thead>
                <tr>
                    <th scope="col">序号</th>
                    <th scope="col">操作时间</th>
                    <th scope="col">开始时间</th>
                    <th scope="col">结束时间</th>
                    <th scope="col">保单人数</th>
                    <th scope="col">类型</th>
                    <th scope="col">保费</th>
                    <th scope="col">公司</th>
                    <th scope="col">上传账号</th>
                    <th scope="col" colspan="2">操作</th>
                </tr>
            </thead>
            <tbody >
                @foreach (var item in Model.Excels)
                {
                    string month = string.IsNullOrWhiteSpace(item.StartDate) ? item.EndDate : item.StartDate;
                <tr>
                    <td class="td_middle">@(Model.Excels.IndexOf(item) + 1)</td>
                    <td class="td_middle">@item.UploadDate</td>
                    <td class="td_middle">@item.StartDate</td>
                    <td class="td_middle">@item.EndDate</td>
                    <td class="td_middle">@item.HeadCount</td>
                    <td class="td_middle">@item.Mode</td>
                    <td class="td_middle">@Math.Round(item.Cost, 2)</td>
                    <td class="td_middle">@item.Company</td>
                    <td class="td_middle">@item.Uploader</td>
                    <td class="td_middle">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-company="@item.Company" data-fn="@item.FileName" data-date="@month" data-target="#dataPreview">
                            预览/下载
                        </button>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-company="@item.Company" data-filename="@item.FileName" data-startdate="@item.StartDate" data-uploaddate="@item.UploadDate" data-target="#confirmDeleteExcel">
                            删除
                        </button>
                    </td>
                </tr>
                }
            </tbody>

        }
    }
</table>
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="dataPreview" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table id="previewTable" class="table">
                    <thead>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <a class="btn btn-primary" id="download" href="">下载</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmDeleteExcel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">删除保单</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button id="btn_deletereceipt" class="btn btn-danger">确认删除</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(RegisterEvents);
    $("a.active").removeClass('active');
    $("#page_2").addClass('active');
</script>
