@{
    ViewData["Title"] = "EmployeeChange";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Insurance.Models.EmployeeChangeModel
<form id="employeeChange" method="post" enctype="multipart/form-data" asp-controller="EmployeeChange" asp-action="UpdateSummary">
    <div>
        <div class="input-group-prepend">
            @{
                UserInfoModel currentUser = Context.Session.Get<UserInfoModel>("CurrentUser");
                if (currentUser != null && currentUser.ChildAccounts.Count > 0)
                {

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">开始时间</span>
                        </div>
                        <input name="exportStart" type="date" />
                        <div class="input-group-prepend">
                            <span class="input-group-text">结束时间</span>
                        </div>
                        <input name="exportEnd" type="date" />
                        <input class="btn btn-info" type="submit" asp-action="ExportUploadedFiles" asp-controller="EmployeeChange" value="导出名单汇总" />
                    </div>
                }
            }
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">公司名称</span>
            <select class="custom-select" id="companyGroup" onchange="UpdateAllowedStartDate()">
                @foreach (var company in Model.CompanyList)
                {
                    <option selected>@company.Name</option>
                }
            </select>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">保单方案</span>
            <select class="custom-select" id="planGroup" name="plan" onchange="UpdatePlan()">
                @if (Model.Plans.Equals("all", StringComparison.CurrentCultureIgnoreCase))
                {
                    @foreach (var item in VC_ControllerBase.Plans)
                    {
                        <option>@item</option>
                    }
                }
                else
                {
                    <option>@Model.Plans</option>
                }
            </select>
        </div>
    </div>
    @{

        <div class="input-group mb-3 justify-content-between" style="margin-top:10px">
            <button onclick="Add()" type="button" class="btn btn-primary btn-custom">批量加保</button>
            <input onchange="SubmitAdd(this)" id="add" type="file" accept=".xlsx,.xls,.xlsm" style="visibility:collapse;width:0px;margin:0px;padding:0px" class="btn btn-primary btn-custom" />
            <button onclick="Sub()" type="button" class="btn btn-secondary btn-custom">批量减保</button>
            <input onchange="SubmitAdd(this)" id="sub" type="file" accept=".xlsx,.xls,.xlsm" style="visibility:collapse;width:0px;margin:0px;padding:0px" class="btn btn-success btn-custom" />
            <a class="btn btn-info btn-custom" asp-action="EmployeeDownload" asp-controller="Home">加减保模板下载</a>
            <div style="margin-left:10px" class="input-group-prepend">
                <span class="input-group-text">生效日期：</span>
                <input id="startdate" name="startdate" min="@Model.AllowedStartDate" type="date" style="width:200px">
            </div>
            <button type="button" onclick="Calculate()" class="btn btn-primary btn-custom">计算保费</button>
            <button type="button" style="margin-right:5px" class="btn btn-warning btn-custom" onclick="SubmitRecipet(this)">立即投保</button>
        </div>

    }

</form>
<table id="invalidTable" class="table table-striped" style="visibility:visible">
    <thead>
        <tr style="text-align:center">
            <th scope="col">序号</th>
            <th scope="col">姓名</th>
            <th scope="col">身份证</th>
            <th scope="col">职业类别</th>
            <th scope="col">数据说明</th>
        </tr>
    </thead>
    <tbody id="invalidInfo"></tbody>
</table>
<table id="validTable" class="table table-striped" style="visibility:collapse">
    <thead>
        <tr style="text-align:center">
            <th scope="col">说明</th>
            <th scope="col">投保人数</th>
            <th scope="col">保费</th>
            <th scope="col">保障开始时间</th>
            <th scope="col">保障结束时间</th>
        </tr>
    </thead>
    <tbody id="validInfo"></tbody>
</table>
<script>
    $("a.active").removeClass('active');
    $("#page_5").addClass('active');
    @*var v = document.getElementById('startdate');
    var date = new Date();
    var seperator1 = "-";
    var month = date.getMonth() + 1;
    var strDate = date.getDate();
    var daysbefore = @Model.DaysBefore;
    if (month >= 1 && month <= 9) {
        month = "0" + month;
    }
    if (strDate > 0 && strDate <= 9) {
        strDate -= daysbefore;
        strDate = "0" + strDate;
    }
    var currentdate = date.getFullYear() + seperator1 + month + seperator1 + strDate;
    v.setAttribute('min', currentdate);*@

    function Add() {
        var input_add = document.getElementById('add');
        var input_sub = document.getElementById('sub');
        input_add.value = '';
        input_sub.value = '';
        input_add.click();
    }
    function Sub() {
        var input_add = document.getElementById('add');
        var input_sub = document.getElementById('sub');
        input_add.value = '';
        input_sub.value = '';
        input_sub.click();
    }

</script>