@{
    ViewData["Title"] = "HistoricalList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Insurance.Models
@model Insurance.Models.HistoricalModel
<div>
    @{
        UserInfoModel currentUser = Context.Session.Get<UserInfoModel>("CurrentUser");
        if (currentUser.AccessLevel == 0)
        {
            <a class="btn btn-warning" style="margin:10px" asp-action="ExportAllEmployees" asp-controller="Home">导出所有在保人员名单</a>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">公司名称</th>
                        <th scope="col">人数</th>
                        <th scope="col">累积保费</th>
                        <th scope="col">开始时间</th>
                        <th scope="col">赔款金额</th>
                        <th scope="col">操作</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.CompanyList != null && Model.CompanyList.Count > 0)
                    {
                        @foreach (Company item in Model.CompanyList)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.EmployeeNumber</td>
                                <td>@item.TotalCost</td>
                                <td>@item.StartDate.ToShortDateString()</td>
                                <td><input type="text" value="@item.PaidCost" onchange="SaveCost('@item.Name',this)"/></td>
                                <td><a href="/Home/CompanyHisitoryByMonth?name=@item.Name" class="btn btn-primary">详细</a></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
    }

</div>
<script>
    $("a.active").removeClass('active');
    $("#page_2").addClass('active');
</script>

