
@{
    ViewData["Title"] = "RecieptPlans";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Insurance.Models.SummaryModel
<div class="alert alert-primary" style="font-size:20px" role="alert">
    保费汇总
    <select onchange="dateChange(this)">
        @{
            int selectedYear = ViewBag.Start;
            int thisYear = DateTime.Now.Year;
            if (DateTime.Now.Month < 6 && DateTime.Now.Month >= 1)
            {
                thisYear--;
            }
            if (selectedYear == 0) { selectedYear = thisYear; }
            for (int i = 2019; i <= thisYear; i++)
            {
                if (i == selectedYear)
                {
                    <option selected>@i</option>
                }
                else
                {
                    <option>@i</option>

                }
            }
        }
    </select>
</div>
@{
    string disable60A = string.Empty;
    string disable60B = string.Empty;
    string disable80A = string.Empty;
    string disable80B = string.Empty;
    var currUser = Context.Session.Get<UserInfoModel>("CurrentUser");
    if (currUser.AccessLevel != 0)
    {
        disable60A = disable60B = disable80A = disable80B = "disabled";
        foreach (var plan in VC_ControllerBase.Plans)
        {
            if (plan == currUser._Plan)
            {
                string num = plan.Replace("万", string.Empty);
                switch (num)
                {
                    case "60A":
                        disable60A = string.Empty;
                        break;
                    case "60B":
                        disable60B = string.Empty;
                        break;
                    case "80A":
                        disable80A = string.Empty;
                        break;
                    case "80B":
                        disable80B = string.Empty;
                        break;
                }
                break;
            }
        }
    }
}

<div class="container">
    <div class="card-deck mb-3 text-center" style="margin:0 auto">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr style="text-align:center">
                    <th>保额</th>
                    <th>在保人数</th>
                    <th>总保费</th>
                    <th>合计已结保费</th>
                    <th>合计未结保费</th>
                    <th>详情</th>
                </tr>
            </thead>
            <tbody>
                <tr style="text-align:center">
                    <td class="td_middle">60万A</td>
                    <td class="td_middle">@Model.PlanList[0].HeadCount</td>
                    <td class="td_middle">@Math.Round(Model.PlanList[0].TotalCost, 2)</td>
                    <td class="td_middle">@Math.Round(Model.PlanList[0].TotalPaid, 2)</td>
                    <td class="td_middle">@Math.Round(Model.PlanList[0].Unpaid, 2)</td>
                    <td>
                        <button @disable60A class="btn btn-lg btn-block btn-primary" onclick="location.href='/Home/GetTargetPlanData?plan=60万A&year=@selectedYear'">
                            查看详情
                        </button>
                    </td>
                </tr>
                <tr style="text-align:center">
                    <td class="td_middle">60万B</td>
                    <td class="td_middle">@Model.PlanList[1].HeadCount</td>
                    <td class="td_middle">@Math.Round(Model.PlanList[1].TotalCost, 2)</td>
                    <td class="td_middle">@Math.Round(Model.PlanList[1].TotalPaid, 2)</td>
                    <td class="td_middle">@Math.Round(Model.PlanList[1].Unpaid, 2)</td>
                    <td>
                        <button @disable60B class="btn btn-lg btn-block btn-primary" onclick="location.href='/Home/GetTargetPlanData?plan=60万B&year=@selectedYear'">
                            查看详情
                        </button>
                    </td>
                </tr>
                <tr style="text-align:center">
                    <td class="td_middle">80万A</td>
                    <td class="td_middle">@Model.PlanList[2].HeadCount</td>
                    <td class="td_middle">@Math.Round(Model.PlanList[2].TotalCost, 2)</td>
                    <td class="td_middle">@Math.Round(Model.PlanList[2].TotalPaid, 2)</td>
                    <td class="td_middle">@Math.Round(Model.PlanList[2].Unpaid, 2)</td>
                    <td class="td_middle">
                        <button @disable80A class="btn btn-lg btn-block btn-primary" onclick="location.href='/Home/GetTargetPlanData?plan=80万A&year=@selectedYear'">
                            查看详情
                        </button>
                    </td>
                </tr>
                <tr style="text-align:center">
                    <td class="td_middle">80万B</td>
                    <td class="td_middle">@Model.PlanList[3].HeadCount</td>
                    <td class="td_middle">@Math.Round(Model.PlanList[3].TotalCost, 2)</td>
                    <td class="td_middle">@Math.Round(Model.PlanList[3].TotalPaid, 2)</td>
                    <td class="td_middle">@Math.Round(Model.PlanList[3].Unpaid, 2)</td>
                    <td class="td_middle">
                        <button @disable80B class="btn btn-lg btn-block btn-primary" onclick="location.href='/Home/GetTargetPlanData?plan=80万B&year=@selectedYear'">
                            查看详情
                        </button>
                    </td>
                </tr>
                <tr style="text-align:center">
                    <td class="td_middle">合计</td>
                    <td class="td_middle">@Model.PlanList.Sum(x => x.HeadCount)</td>
                    <td class="td_middle">@Math.Round(Model.PlanList.Sum(x => x.TotalCost), 2)</td>
                    <td class="td_middle">@Math.Round(Model.PlanList.Sum(x => x.TotalPaid), 2)</td>
                    <td class="td_middle">@Math.Round(Model.PlanList.Sum(x => x.Unpaid), 2)</td>
                    <td class="td_middle">
                        /
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    $("a.active").removeClass('active');
    $("#page_6").addClass('active');
</script>
