
@{
    ViewData["Title"] = "保费汇总";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Insurance.Models.DetailModel
    <div class="alert alert-primary" style="font-size:20px" role="alert">
        保费汇总 @ViewBag.Plan @ViewBag.Company @ViewBag.Date @ViewBag.Page @ViewBag.Msg
    </div>
@{
    UserInfoModel currentUser = Context.Session.Get<UserInfoModel>("CurrentUser");
    if (Model.MonthlyExcel != null && Model.MonthlyExcel.Count > 0)
    {
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">操作日期</th>
                    <th scope="col">操作人次</th>
                    <th scope="col">总保费</th>
                    <th scope="col">已结保费</th>
                    <th scope="col">未结保费</th>
                    <th scope="col">操作</th>
                </tr>
            </thead>
            <tbody>
                @{
                    
                    foreach (var item in Model.MonthlyExcel)
                    {
                        if (item != null)
                        {
                            <tr>
                                <td class="td_middle">@item.UploadDate</td>
                                <td class="td_middle">@item.HeadCount</td>
                                <td class="td_middle">@item.Cost</td>
                                <td class="td_middle">@item.Paid</td>
                                <td class="td_middle">@item.Unpaid</td>
                                <td><a href="/Home/RecipeSummary?date=@item.StartDate&name=@item.Company" class="btn btn-primary">详细</a></td>
                            </tr>
                        }
                    }

                    <tr>
                        <td class="td_middle">合计</td>
                        <td></td>
                        <td class="td_middle">@Model.MonthlyExcel.Sum(x => x.Cost)</td>
                        <td class="td_middle">@Model.MonthlyExcel.Sum(x => x.Paid)</td>
                        <td class="td_middle">@Model.MonthlyExcel.Sum(x => x.Unpaid)</td>
                        @if (currentUser.AccessLevel == 0)
                        {
                            <td><a href="/Home/BanlanceAccount?companyName=@Model.Company&dataYear=@ViewBag.DataYear" class="btn btn-primary">结算</a></td>
                        }
                        else
                        {
                            <td></td>
                        }

                    </tr>
                }
            </tbody>
        </table>
    }
    else if (Model.Excels != null && Model.Excels.Count > 0)
    {
        if (currentUser.AccessLevel == 0)
        {
            <button class="btn btn-warning" id="btn_balance" type="button" style="margin:5px" onclick="MarkPaid()">确认结算</button>
            <span>已选金额：</span><span id="totalCost">0</span>
        }
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    @{
                        if (currentUser.AccessLevel == 0)
                        {
                            <th scope="col" style="text-align:center"><input type="checkbox" id="cbx_selectAll" onchange="SelectAll(this)" style="zoom:150%"></th>
                        }
                        else
                        {
                            <th scope="col" style="text-align:center">序号</th>
                        }
                    }

                    <th scope="col">状态</th>
                    <th scope="col">操作时间</th>
                    <th scope="col">操作类型</th>
                    <th scope="col">操作人数</th>
                    <th scope="col">保费</th>
                    <th scope="col">生效时间</th>
                    <th scope="col">投保账号</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model.Excels)
                    {
                        string state = "";
                        int index = Model.Excels.IndexOf(item);
                        string costid = "cost" + index;
                        if (item.Cost != item.Paid)
                        {
                            state = "未结算";
                        }
                        else
                        {
                            state = "已结算";
                        }
                        double headcount = item.Mode.Equals("加保", StringComparison.CurrentCultureIgnoreCase) ? item.HeadCount : (item.HeadCount * -1);
                        <tr>
                            @{
                                if (currentUser.AccessLevel == 0)
                                {
                                    string _id = item.FileName.Replace(".xls", "") + item.Company;
                                    if (state == "未结算")
                                    {
                                        <td style="text-align:center"><input onchange="GetSelectedCost(this,'@item.Cost')" name="@index" id="@_id" type="checkbox" style="zoom:150%;"></td>
                                    }
                                    else
                                    {
                                        <td style="text-align:center"></td>
                                    }
                                }
                                else
                                {
                                    <td>@(index + 1)</td>
                                }

                            }

                            <td>@state</td>
                            <td>@item.UploadDate</td>
                            <td>@item.Mode</td>
                            <td>@headcount</td>
                            <td id="@costid">@Math.Round(item.Cost, 2)</td>
                            @{
                                if (item.EndDate != "")
                                {
                                    <td>@item.EndDate</td>
                                }
                                else
                                {
                                    <td>@item.StartDate</td>
                                }
                            }
                            <td>@item.Submitter</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
    else if (Model.Excels.Count == 0)
    {
        <span> 无未结保费 </span>
    }
}

<script>
    $("a.active").removeClass('active');
    $("#page_6").addClass('active');
</script>


