
@{
    ViewData["Title"] = "RecieptPlans";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Insurance.Models.SummaryModel
<div class="alert alert-primary" style="font-size:20px" role="alert">
    保费汇总
</div>
@{
    string disable30 = string.Empty;
    string disable60 = string.Empty;
    string disable80 = string.Empty;
    var currUser = Context.Session.Get<UserInfoModel>("CurrentUser");
    if (currUser.AccessLevel != 0)
    {
        disable30 = disable60 = disable80 = "disabled";
        foreach (var plan in VC_ControllerBase.Plans)
        {
            if (plan == currUser._Plan)
            {
                int num = Convert.ToInt32(plan.Replace("万", string.Empty));
                switch (num)
                {
                    case 30:
                        disable30 = string.Empty;
                        break;
                    case 60:
                        disable60 = string.Empty;
                        break;
                    case 80:
                        disable80 = string.Empty;
                        break;
                }
                break;
            }
        }
    }
}

<div class="container">
    <div class="card-deck mb-3 text-center" style="margin:0 auto">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr style="text-align:center">
                    <th>保额</th>
                    <th>在保人数</th>
                    <th>总保费</th>
                    <th>合计已结保费</th>
                    <th>合计未结保费</th>
                    <th>详情</th>
                </tr>
            </thead>
            <tbody>
                <tr style="text-align:center">
                    <td class="td_middle">30万</td>
                    <td class="td_middle">@Model.PlanList[0].HeadCount</td>
                    <td class="td_middle">@Model.PlanList[0].TotalCost</td>
                    <td class="td_middle">@Model.PlanList[0].TotalPaid</td>
                    <td class="td_middle">@Model.PlanList[0].Unpaid</td>
                    <td>
                        <button @disable30 class="btn btn-lg btn-block btn-primary" onclick="location.href='/Home/GetTargetPlanData?plan=30万'">
                            查看详情
                        </button>
                    </td>
                </tr>
                <tr style="text-align:center">
                    <td class="td_middle">60万</td>
                    <td class="td_middle">@Model.PlanList[1].HeadCount</td>
                    <td class="td_middle">@Model.PlanList[1].TotalCost</td>
                    <td class="td_middle">@Model.PlanList[1].TotalPaid</td>
                    <td class="td_middle">@Model.PlanList[1].Unpaid</td>
                    <td>
                        <button @disable60 class="btn btn-lg btn-block btn-primary" onclick="location.href='/Home/GetTargetPlanData?plan=60万'">
                            查看详情
                        </button>
                    </td>
                </tr>
                <tr style="text-align:center">
                    <td class="td_middle">80万</td>
                    <td class="td_middle">@Model.PlanList[2].HeadCount</td>
                    <td class="td_middle">@Model.PlanList[2].TotalCost</td>
                    <td class="td_middle">@Model.PlanList[2].TotalPaid</td>
                    <td class="td_middle">@Model.PlanList[2].Unpaid</td>
                    <td class="td_middle">
                        <button @disable80 class="btn btn-lg btn-block btn-primary" onclick="location.href='/Home/GetTargetPlanData?plan=80万'">
                            查看详情
                        </button>
                    </td>
                </tr>
                <tr style="text-align:center">
                    <td class="td_middle">合计</td>
                    <td class="td_middle">@Model.PlanList.Sum(x => x.HeadCount)</td>
                    <td class="td_middle">@Model.PlanList.Sum(x => x.TotalCost)</td>
                    <td class="td_middle">@Model.PlanList.Sum(x => x.TotalPaid)</td>
                    <td class="td_middle">@Model.PlanList.Sum(x => x.Unpaid)</td>
                    <td class="td_middle">
                        /
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    $("a.active").removeClass('active');
    $("#page_6").addClass('active');
</script>
